extends layout

block content
    .row
        .col-sm-6.offset-sm-6
            form(action='/itineraries/#{itineraryId}/activities/new')
                .form-group
                    label(for='search-term')="Search Term (1 Key Word)"
                    input#search-term(placeholder=' food, drink, or theater', name='term', type='text', value='#{term}')
                .form-group
                    label(for='search-location')="Location (City or Zip Code)"
                    input#search-location(placeholder= ' SF, NY, DC, or 94107',name='location', type='text', value='#{location}')
                .text-right
                    button.btn.btn-primary(type='submit') Search
            
            if (yelpDatas)
                each yelpData in yelpDatas
                    .media
                        .media-left
                            a(href='#{yelpData.url}')
                                img.media-object(style="width: auto; height: 90px;" src='#{yelpData.image_url}', alt='#{yelpData.name}')
                        .media-body
                            a(href='#{yelpData.url}')
                                h4.media-heading #{yelpData.name}
                            p.address #{yelpData.location.address1}, #{yelpData.location.city}
                            p.rating Rating: #{yelpData.rating}
                            button(type='button').activity-add.btn-xs.btn-primary Add to Itinerary
