extends layout

block content

    div.row

        // DISPLAY LOGIN OR REGISTER WHEN NOT LOGGED IN
        if (!currentUser)
            //p.itinerary-add-message Login or register
        center
          h1.myclaas Activity List
          br
        div.col-sm-6.col-sm-offset-3.itinerary-form
            // DISPLAY FORM ONLY WHEN USER IS LOGGED IN
            //- if (currentUser)
            .list-group
                each itinerary, i in itineraries
                   .itinerary-list-container(id=itinerary._id)
                      .itinerary-list-container-body
                        a.list-group-item(href='/itineraries/#{itinerary.id}/')
                            h4.list-group-item-heading #{itinerary.name}
                            p.list-group-item-text #{itinerary.date}
                            p.list-group-item-text #{itinerary.description}
                        form.itinerary-delete
                            p.itinerary-id(hidden)=itinerary.id
                            .text-right.col-xs-2
                                button.itinerary-delete.glyphicon.glyphicon-trash.btn.btn-primary(type="Submit")
                              script.
                                var date = new Date('#{itinerary.date}');
                                var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                                // options.timeZone = 'UTC';
                                // options.timeZoneName = 'short';
                                var newDate = date.toLocaleDateString('en-US', options)
                                console.log(date.toLocaleDateString('en-US', options));
                                $('.date').text(" " + newDate + " ");
                                // document.getElementById("itinerary-date").defaultValue = newDate;
