extends layout

block content
    .row
        .col-sm-8.col-sm-offset-2
            .page-header
                h1
                    | #{itinerary.name}
                    small.date
                    a.btn.btn-primary(href="/itineraries/#{itinerary.id}/edit", role="button") 
                        | Edit
                p #{itinerary.description}
    
    .row
        .col-sm-4.col-sm-offset-2
            #map
        .col-sm-4
            if (activities)
                each activity in activities
                    .media
                        .media-body
                            a(href='#{activity.activityUrl}')
                                h4.media-heading #{activity.name}
                            p.address #{activity.location}
            a.btn.btn-primary(href="/itineraries/#{itinerary.id}/activities/new", role="button") Add
                            

    script(src='/javascripts/markerclusterer.js')
    script(src='/javascripts/js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=' + process.env.MAP_KEY + '&callback=initMap')
    script.
        var date = new Date('#{itinerary.date}');
        var newDate = date.toLocaleDateString()
        $('.date').text(" " + newDate + " ");
