extends layout

block content
    .row
        .col-sm-4.col-offset-2
            .page-header
                h1
                    | #{itinerary.name}
                    small 
                        | #{itinerary.date}

            if (activities)
                each activity in activities
                    .media
                        .media-body
                            a(href='#{activity.url}')
                                h4.media-heading #{activity.name}
                            p.address #{activity.location}
