extends layout

block content
    .row
        .col-sm-8.col-sm-offset-2
            .page-header
                .itinerary-container(id=itinerary.id)
                    h1 #{itinerary.name }
                    small.date
                    a.btn.btn-primary(href="/itineraries/#{itinerary.id}/edit", role="button")
                        | Edit
                    a.btn.btn-primary(href="/itineraries/#{itinerary.id}/activities/new", role="button") Add

    .row
        .col-sm-4.col-sm-offset-2
            #map
        .col-sm-4

            if (activities)
                each activity in activities

                    .media(id = activity.id)
                        .media-body
                            a(href='#{activity.activityUrl}')

                            h4.media-heading #{activity.name}
                            p.address #{activity.location}

                            form.activity-delete
                                  p.itinerary-id(hidden)=itinerary.id
                                  p.activity-id(hidden)=activity.id
                                  button(type="Submit").activity-delete.btn-xs.btn-primary Delete Activity


    script(src='/javascripts/markerclusterer.js')
    script(src='/javascripts/js-map.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=' + process.env.MAP_KEY + '&callback=initMap')
    script.
        var date = new Date('#{itinerary.date}');
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        options.timeZone = 'UTC';
        options.timeZoneName = 'short';
        var newDate = date.toLocaleDateString('en-US', options)
        console.log(date.toLocaleDateString('en-US', options));
        $('.date').text(" " + newDate + " ");
