extends layout

block content
    .row
        .col-sm-4.col-sm-offset-4
            form(method="POST" action='/itineraries/#{itinerary.id}?_method=PUT')
                legend Edit Itinerary
                .form-group
                    label(for='itinerary-name') Name
                    input#itinerary-name.form-control(name='name', placeholder='Name your Itinerary', value='#{itinerary.name}')
                .form-group
                    label(for='itinerary-date')="Date: "
                    input#itinerary-date(name='date', type='date')
                .form-group
                    label(for='itinerary-body') Description
                    textarea#itinerary-description.form-control(name='description', rows="3", placeholder="Description (optional)") #{itinerary.description}
                .text-right
                    button.btn.btn-primary(type='submit') Save Itinerary


    script.
        var date = new Date('#{itinerary.date}');
        // var newDate = date.toISOString().split('T')[0]
        // var newDate = date.toLocaleDateString('en-US', options)

        var date = new Date('#{itinerary.date}');
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        // options.timeZone = 'UTC';
        // options.timeZoneName = 'short';
        var newDate = date.toLocaleDateString('en-US', options)
        console.log(date.toLocaleDateString('en-US', options));
        $('.date').text(" " + newDate + " ");
        document.getElementById("itinerary-date").defaultValue = newDate;
